@import 'https://fonts.googleapis.com/css?family=Poppins';

@font-face {
  font-family: 'calibre-regular';
  src: url('../fonts/CalibreWeb-Regular.eot');
  src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CalibreWeb-Regular.woff') format('woff'),
  url('../fonts/CalibreWeb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}